.input{
    display: block;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: #0A2D58;
    border: none;
    min-height: 50px;
    padding-left: 19px;
    color: inherit;
    border-radius: 6px;
    font-family: inherit;
    font-weight: inherit;
    font-size: $text;
}
