.menu-wrapper {
    position: fixed;
    top: 50%;
    right: 27px;
    transform: translateY(-50%);
    z-index: $top-layout;

    @media(max-width:$breakpoint-tablet) {
        top: 0;
        left: 0;
        bottom: 0;
        right: unset;
        width: 62.5%;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style-type: none;
    font-weight: 300;
    &__item {
        display: flex;
        align-items: center;
        position: relative;
        height: 2rem;
        &-label{
            width: 76px;
            transform: translateY(100%);
            background: $inactive;
            color: #011936;
            text-align: center;
            line-height: 1rem;
            border-radius: 20px;
            font-size: $smallest;
            text-transform: uppercase;
            opacity: 0;
            transition: all .2s ease-in-out;
            animation: fade-tooltip 1.5s .4s $easing;
        }
        &-dot {
            @include round(10px);
            content: '';
            display: block;
            background-color: $inactive;
            transform: scale(1);
            transition: transform 0.2s ease-in-out;
            margin-left: 20px;
        }
        &:hover &-label{
            background-color: white;
            opacity: 1;
            transform: translateY(0);
        }
        &_current &-dot, &:hover &-dot{
            background-color: white;
            transform: scale(1.2);
        }
    }
}
@keyframes fade-tooltip {
    0% {
        opacity:0;
    }
    10% {
        opacity:1;
        transform:translateY(0.2rem);
    }
    90% {
        opacity:1;
        transform:translateY(0);
    }
    100% {
        opacity:0;
    }
}
.menu-burger{
    display: none;
    margin-right: $column;
    @media(max-width:$breakpoint-tablet) {
        display: block;
    }
    @media(max-width: $breakpoint-phone) {
        height: 20px;
    }
}