nav.menu-wrapper
    ul.menu
        each item in menu 
            li
                a.menu__item(href= item.href)
                    .menu__item-label= item.label
                    .menu__item-dot
