mixin info(title, caption, button)
    .info
        .info__title.title!= title 
        .info__content.text  
            block
        if(caption)
            .info__footer 
                .info__caption.text!= caption
                .info__action
                    a.button.download_button(href="#")= button