.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: relative;
    &__content{
        padding-left: $column;
        margin-top: calc(var(--column)*0.6);
    }
    &__footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: $top-layout;
    }
    p:not(:first-of-type){
        margin-top: 30px;
    }
}