.info{
    --top: 30px;
    @media (max-width: $breakpoint-tablet) {
        --top: 24px;
    }
    @media (max-width: $breakpoint-tablet) {
        --top: 10px;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: relative;
    &__content{
        padding-left: $column;
        margin-top: calc(var(--column)*0.6);
        text-align: justify;
        flex-shrink: 0;
    }
    &__footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: $top-layout;
        @media (max-width: $breakpoint-tablet) {
            display: none;
        }
    }
    p:not(:first-of-type){
        margin-top: var(--top);
    }
}