.timer{
    display: flex;
    justify-content: space-between;
    font-size: 96px;
    font-weight: 200;
    &__digit{
        position: relative;
    }
    &__digit::after{
        content: attr(data-text);
        position: absolute;
        vertical-align: bottom;
        font-size: $text;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        font-weight: 300;
    }
    &__delimiter{
        margin: 0px 30px;
    }
    &__subtitle{
        padding-bottom: 75px;
        margin-top: -5px;
    }
    &__sec{
        width: 100px;
    }

}