.timer(data-end='2023-12-20') 
    span(class="timer__digit" data-type="day" data-text="дня") 0
    span(class="timer__delimiter") &bull;
    span(class="timer__digit" data-type="hour" data-text="часов") 0
    span(class="timer__delimiter") &bull;
    span(class="timer__digit" data-type="min" data-text="минут") 0
    span(class="timer__delimiter") &bull;
    span(class="timer__digit" data-type="sec" data-text="секунд") 0
script 
    include timer.js 