.screen {
    position: relative;
    // height: max(100vh);
    height: max(100vh, 900px); //@debug

    &_single {
        display: flex;
        flex-direction: column;
        justify-content: center;

        video {
            cursor: url(/image11.svg), default;
        }
    }

    &_center {
        align-items: center;
        text-align: center;
    }

    &_split {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    &__section {
        padding: $column;
        &-more {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            transition: transform 0.5s ease-in;
            background-image: linear-gradient(to bottom, rgba(0, 181, 77, 0.75), rgba(0, 48, 100, 0.75)), url('2.jpg');
            background-size: cover;
            width: 50%;
        }

        &_text {
            padding-right: calc(2*var(--column));
            @media(max-width: $breakpoint-tablet) and (min-width: $breakpoint-phone) {
                padding: 36px 90px;
            }
        }

        &_img {
            padding: 0;
            overflow: hidden;
        }
    }
    @media(max-width:$breakpoint-tablet) {
        grid-template-columns: minmax(0, 1fr);
        grid-template-rows: 1fr 1fr;
        // height: unset;
    }
}

.section-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
