include /components/info/info

block vars 
    //- - const sectionTitle
    //- - const sectionId
.screen
    block content
    .screen__section
        block sectionLeft
    .screen__section 
        block sectionRight