extends /components/screen/screen
block vars 
    - let sectionTitle = 'О проекте'

block sectionLeft
    | какая-то картинка
block sectionRight 
    +info(title)
        p Мы сильные и мощные, потому что мы вместе
        p Но этот абзац должен быть немного отдельно