.logo {
    width: 100%;
}

.logo-wrapper {
    @media(max-width:$breakpoint-tablet) {
        margin-left: calc(3*var(--column));
        @media (min-width:$breakpoint-phone) {
            position: relative;
            max-width: 240px;
            top: -8px;
        }
    }

    @media(max-width:$breakpoint-phone) {
        max-width: 130px;
    }
}