.form {
    --padding: 20px;
    @media (max-width:$breakpoint-tablet) {
        --padding: 10px;
    }
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--padding);
    margin-top: 26px;

    &__wide {
        grid-column: 1/3;
        position: relative;
    }

    &__footer {
        margin-top: 10px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__footnote {
        font-size: $smallest;
        text-align: right;
        position: absolute;
        bottom: -25px;
        right: 0;
        color: $inactive;
        @media (max-width:$breakpoint-tablet) {
            bottom:var(--padding);
            right: var(--padding);
        }
    }
    &__submit-msg{
        margin-top: 30px;
        display: none;
        &-title{
            font-size: $subtitle;
            font-weight: 400;
        }
        &_success &-title{
            color: $accent;
        }
        &_error &-title{
            color: red;
        }
        // margin-top: 4em;
    }
    &__message {
        font-size: $small;
        display: none;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
        animation: fade 0.2s ease-in-out reverse forwards 1;

        &_active {
            display: block;
            animation: fade 0.2s ease-in-out forwards 1;
        }

        &::before {
            content: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 1L1 12M1 1L12 12' stroke='%23FF2C72' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            margin-right: 10px;
        }
    }
    &-wrapper{
        &__btn-expand{
            display: none;
            margin-top: 28px;
        }
        &_fold, &_submitted{
            form{
                display: none;
            }
        }

        &_fold &__btn-expand{
            display: block;
        }
        &_submitted{
            animation: fade 0.3s ease-in-out;
            .form__submit-msg{
                display: block;
            }
        } 
    }
}



.link {
    font-weight: 400;
}

.copyright {
    font-size: $small;
    font-weight: 200;
    &_footer{
        position: absolute;
        bottom: $template-offset;
        padding-left: $column;
        @media (max-width:$breakpoint-tablet) {
            display: none;
        }
    }
    &_menu{
        margin-top: 1.5rem;
    }
}

.fp-tableCell {
    display: contents;
}

.mouse {
    display: block;
    position: relative;
    width: 20px;
    height: 33px;
    color: white;
    margin: 0 auto -2px;
    border: 2px solid;
    border-radius: 23px;
    
    @media(max-width:$breakpoint-tablet) {
        display: none;
    }
    
    &::after {
        content: '';
        position: absolute;
        display: block;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        width: 2px;
        height: 7px;
        background-color: currentColor;
        border-radius: 10px;
        animation: animouse 1.5s linear infinite;
    }
}

.intro {
    position: relative;
    margin: 0;
    
    &__footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 25px $template-offset;
        z-index: $top-layout / 2;
    }

    &__button {
        position: absolute;
        bottom: 25px;
        left: $template-offset;
        width: 253px;

        @media(max-width:$breakpoint-phone) {
            max-width: max-content;
        }
    }

    &__preview {
        &-wrapper {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            overflow: hidden;

            @media(max-width:$breakpoint-tablet) {
                display: block;
            }
        }

        height: 100%;
        width: 100%;
        object-fit: cover;


    }

}