.screen.screen_single.intro 
    +video({poster:'', video: "videoplayback.webm"}).js-intro
    .intro__footer 
        a(href= airlink).intro__button.button Сайт аэропорта
        a(href="#about").mouse