.screen.screen_single.intro 
    +video({poster:'', video: "videoplayback.webm"})(data-cursor="play").js-intro.js-cursor-trigger
    .intro__footer 
        a(href= airlink).intro__button.button Сайт аэропорта
        a(href="#about").mouse