// intro section start

.screen.screen_single.intro 
    +video({poster:'videoplayback.jpg', video: "videoplayback"})(data-cursor="play").js-intro.js-cursor-trigger.intro__inner
        //-mobile cover
        .intro__cover
            button.intro__play-button.js-mobile-play() 
            picture.intro__poster
                img(src="assets/preview_mobile.png")

    .intro__footer 
        a(href= airlink).intro__button.button Сайт аэропорта
        a(href="#about").mouse
