include /components/video/video
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="main.css")
    body
    
        +video({video:"video.mp4"}).js-intro 
        script.
            const introWrapper = document.querySelector(".js-intro");
            const intro = introWrapper.querySelector("video");
            intro.addEventListener('click', ()=>showFullscreenVideo(introWrapper));


