
extends /layout/template
include /components/screen/screen__section_img
include /components/info/info
include /components/index/index
include /components/news/news
include /components/video/video

block vars 
    - const phone = "8 800 301 19 91"
    - const mail = "hello@new.aer.com"
block content 
    include /pages/gallery
 
    




