
extends /layout/template
include /components/screen/screen__section_img
include /components/info/info
include /components/index/index
include /components/news/news
block vars 
    - const indexes = [{title: "С 2023 года прогнозируется:", number: "6 500 000", unit:"пассажиров в год"}]
    - const phone = "8 800 301 19 91"
    - const mail = "hello@new.aer.com"
block content 

    .screen.section.screen_split#indexes
        .screen__section.screen__section_img 
            +sectionImg(src="/4.jpg")
        .screen__section.screen__section_text 
            +info('Новый <br>мультимодальный хаб <br>в цифрах')
               .index-slider
                    .glide__track(data-glide-el="track")
                        .glide__slides
                            - for(let i = 0; i<3; i++)
                                .index-wrapper
                                    - for (let x = 0; x < 6; x++)
                                        +index(indexes[0])

block script
    //- script(src="/index.js")
    script(src="https://unpkg.com/@glidejs/glide@3.4.1/dist/glide.min.js") 
    script(src="js/index.js")


