
extends /layout/template
include /components/screen/screen__section_img
include /components/info/info
include /components/index/index
include /components/news/news
block vars 
    - const indexes = [{title: "С 2023 года прогнозируется:", number: "6 500 000", unit:"пассажиров в год"}]
    - const phone = "8 800 301 19 91"
    - const mail = "hello@new.aer.com"
block content 

    .screen.section.screen_split#gallery.gallery
            include /components/gallery/gallery

block script
    script
        include test.js
    


