.screen.screen_single.screen_center.timer-container
    .timer-wrapper
        .timer-header
            .timer-header__title.title До ввода объекта в эксплуатацию
            .timer-header__subtitle.text по предварительной оценке экспертов (20 декабря 2023г.):
        include /components/timer/timer