.gallery   
    .gallery__item
        img(src="2.png")
    .gallery__item
        img(src="1.png")
    .gallery__item
        img(src="4.png")
    .gallery__item
        img(src="pexels-francesco-ungaro-97558.png")
    .gallery__item
        img(src="1-1.png")
    .gallery__item
        img(src="3.png")             