.gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100%;
    width: 100%;
    cursor: url(/image13.svg), default;
    &__item{
        border: 1px solid $inactive;
        height: 0px;
        width: 0px;
    }
}