block script append
- const images = ['2.png', '1.png', '4.png', 'pexels-francesco-ungaro-97558.png', '1-1.png','3.png']

.gallery   
    each image in images
        a.gallery__item-wrapper 
            img.gallery__item(src= image)