.js-video-close {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    appearance: none;
    color: white;
    @include round(128px);
    background-color: transparent;
    border: 2px solid currentColor;
    top: 20px;
    right: 20px;
    z-index: 1;
}

.video {
    height: 100%;
    width: 100%;
    object-fit: cover;

    &-container {
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    &-wrapper {
        height: 100%;
        width: 100%;
        overflow: hidden;
        &_desktop:fullscreen {
            cursor: default;
            & > * {
                cursor: default;
            }
            .js-video-close {
                display: flex;
            }
        }

        &_desktop {
            @media(max-width: $breakpoint-tablet) {
                display: none;
            }
        }

        &_mobile {
            @media(min-width: $breakpoint-tablet) {
                display: none;
            }
        }
    }

    &-poster {
        &-wrapper{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: $top-layout /2;
        }
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &__play-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: $top-layout;
        @include round(214px);
        background-image: url("data:image/svg+xml,%3Csvg width='45' height='52' viewBox='0 0 45 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M41.6161 19.9996L10.8449 1.06786C8.61868 -0.30009 5.92711 -0.356965 3.64482 0.915716C1.36252 2.18819 0 4.50596 0 7.1152V44.8063C0 48.7516 3.18498 51.9786 7.09955 51.9999C7.11024 51.9999 7.12092 52 7.1314 52C8.35472 51.9999 9.62952 51.6172 10.8202 50.8921C11.778 50.3088 12.0807 49.061 11.4963 48.1051C10.912 47.149 9.66158 46.8469 8.70405 47.4302C8.14713 47.7692 7.60325 47.9446 7.12143 47.9445C5.64443 47.9365 4.06304 46.6737 4.06304 44.8064V7.1153C4.06304 5.99598 4.64753 5.00199 5.62642 4.45609C6.60542 3.91019 7.75985 3.93456 8.71361 4.52068L39.4849 23.4525C40.4097 24.0208 40.939 24.9685 40.9367 26.0526C40.9345 27.1366 40.4014 28.0821 39.4715 28.6485L17.2237 42.2445C16.2668 42.8293 15.966 44.0776 16.5519 45.0326C17.1377 45.9877 18.3884 46.2879 19.3453 45.7031L41.5904 32.1088C43.7203 30.8119 44.9949 28.5511 45 26.0607C45.0051 23.5706 43.7396 21.3045 41.6161 19.9996Z' fill='%23009840'/%3E%3C/svg%3E%0A");
        background-position: center;
        background-repeat: no-repeat;
        background-color: #fff;
    }
}