.video {
    height: 100%;
    width: 100%;
    object-fit: cover;

    @media(max-width: $breakpoint-tablet) {
        object-fit: contain;
    }

    &-close {
        display: none;
        justify-content: center;
        align-items: center;
        position: absolute;
        appearance: none;
        color: white;
        @include round(128px);
        background-color: transparent;
        border: 2px solid currentColor;
        top: 20px;
        right: 20px;
        z-index: 1;

        
        @media (display-mode: fullscreen) and (min-width: $breakpoint-tablet)  {
            display: flex;
        }
        @at-root{
            :fullscreen, :-webkit-full-screen{
                .video-close{
                    display: flex;
                }
            }
            
        }
    }

    &-wrapper {
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    &-container {
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: relative;
    }

}