.js-video-close {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    appearance: none;
    color: white;
    @include round(128px);
    background-color: transparent;
    border: 2px solid currentColor;
    top: 20px;
    right: 20px;
    z-index: 1;
}

.video {
    height: 100%;
    width: 100%;
    object-fit: cover;

    @media(max-width: $breakpoint-tablet) {
        object-fit: contain;
    }

    &-container {
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    &-wrapper {
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: relative;

        &_desktop:fullscreen {
            cursor: default;

            &>* {
                cursor: default;
            }

            .js-video-close {
                display: flex;
            }
        }

        &_desktop {
            @media(max-width: $breakpoint-tablet) {
                display: none;
            }
        }

        &_mobile {
            @media(min-width: $breakpoint-tablet) {
                display: none;
            }
        }
    }


}