html {
  --column: 90px;
  --title: 62px;
  --subtitle: 24px;
  --text: 16px;
  --color-inactive: #C6C6C6;
}

*, *::before, *::after {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: Geometria;
  src: url(fonts/geometria-extralight.otf) format("opentype");
  font-weight: 200;
}
@font-face {
  font-family: Geometria;
  src: url(fonts/geometria-light.otf) format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: Geometria;
  src: url(fonts/geometria-medium.otf) format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: Geometria;
  src: url(fonts/geometria-bold.otf) format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Geometria";
  font-style: normal;
  font-weight: 700;
  src: url(fonts/geometria-extablack.otf) format("opentype");
}
@font-face {
  font-family: "Geometria";
  font-style: normal;
  font-weight: 800;
  src: url(fonts/geometria-heavy.otf) format("opentype");
}
.title {
  font-size: var(--title);
  font-weight: 200;
}

.subtitle {
  font-size: var(--subtitle);
  font-weight: 500;
}

.text {
  font-size: var(--text);
  font-weight: 300;
  text-align: justify;
  line-height: 150%;
  -webkit-font-smoothing: antialiased;
}

.contacts-link {
  font-weight: 400;
}

.footnote {
  font-size: 9px;
  text-align: right;
  grid-column: 1/3;
  margin: -1rem 0px;
}

.copyright {
  font-size: 12px;
  position: absolute;
  bottom: -72px;
}

.header {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: start;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

.lang {
  display: flex;
  justify-content: space-between;
  color: var(--color-inactive);
  width: 82px;
}
.lang__item:hover {
  color: white;
}

.social {
  display: flex;
  justify-content: space-between;
  color: var(--color-inactive);
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 70px;
  z-index: 20;
}
.social__item:hover {
  color: white;
}
.social__item {
  max-width: 18px;
  max-height: 18px;
}

.button {
  display: inline-block;
  appearance: none;
  border: 2px solid white;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 50px;
  text-decoration: none;
  text-align: center;
  font-family: inherit;
  text-transform: uppercase;
  line-height: 28px;
  font-size: 14px;
  padding: 0 34px;
  background: transparent;
  color: inherit;
  font-weight: 300;
}
.button.contact_btn {
  margin-top: -13px;
  width: 75%;
  display: flex;
  justify-content: center;
}
.button.contact_btn.contact_btn:hover {
  background-color: #009840;
  border: 2px solid #009840;
}
.button.download_button:hover {
  background-color: #009840;
  border: 2px solid #009840;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
  width: 100%;
  cursor: url(image13.svg), default;
}
.gallery__item {
  border: 1px solid var(--color-inactive);
  height: 0px;
  width: 0px;
}

.index {
  --number: 36px;
}
.index__title {
  font-size: var(--text);
  margin-bottom: 25px;
}
.index__number {
  font-size: var(--number);
}
.index__unit {
  font-size: 12px;
}

.index-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 90px);
  gap: 45px 70px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  position: relative;
}
.info__content {
  padding-left: var(--column);
  margin-top: calc(var(--column)*0.6);
}
.info__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 20;
}
.info p:not(:first-of-type) {
  margin-top: 30px;
}

#indexes .info__content {
  cursor: url(/image12.), default;
}

.input {
  display: block;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #0A2D58;
  border: none;
  min-height: 50px;
  padding-left: 19px;
  color: inherit;
  border-radius: 6px;
  font-family: inherit;
  font-weight: inherit;
  font-size: var(--text);
}

.logo {
  width: 100%;
}

.menu-wrapper {
  position: fixed;
  top: 50%;
  right: 27px;
  transform: translateY(-50%);
  z-index: 10;
}

.menu {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style-type: none;
  font-weight: 300;
}
.menu__item {
  display: flex;
  align-items: center;
  position: relative;
  height: 2rem;
}
.menu__item-label {
  width: 76px;
  transform: translateY(100%);
  background: var(--color-inactive);
  color: #011936;
  text-align: center;
  line-height: 1rem;
  border-radius: 20px;
  font-size: 9px;
  text-transform: uppercase;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  animation: fade-tooltip 1.5s 0.4s cubic-bezier(0, 0, 0.58, 1);
}
.menu__item-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: "";
  display: block;
  background-color: var(--color-inactive);
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
  margin-left: 20px;
}
.menu__item:hover .menu__item-label {
  background-color: white;
  opacity: 1;
  transform: translateY(0);
}
.menu__item_current .menu__item-dot, .menu__item:hover .menu__item-dot {
  background-color: white;
  transform: scale(1.2);
}

@keyframes fade-tooltip {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
    transform: translateY(0.2rem);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
  }
}
.menu-burger {
  display: none;
  margin-right: var(--column);
}

.news {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.news__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.news__img-wrapper {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  position: relative;
}
.news__caption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.2s ease-in;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 18px 1rem;
}
.news__button {
  margin-top: 20px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.news__button:hover {
  background-color: #009840;
  border: 2px solid #009840;
}
.news:hover .news__caption, .news:hover .news__button {
  opacity: 1;
}
.news__title {
  margin-bottom: 10px;
  margin-top: 34px;
  font-size: 24px;
  font-weight: 500;
}

.news-wrapper {
  margin-top: 42px;
  display: grid;
  grid: 1fr/auto-flow;
  grid-auto-columns: calc(4*var(--column));
  gap: var(--column);
  overflow-x: hidden;
}

.js-more {
  transform: translateX(100%);
}
.js-more_open {
  transform: translateX(0);
}

.js-more-close {
  width: 133px;
  height: 133px;
  border-radius: 50%;
  position: absolute;
  top: 165px;
  right: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: none;
  appearance: none;
  cursor: pointer;
  background-image: url(image14.svg);
}

#news .title {
  cursor: url(image12.svg), default;
}

.screen {
  position: relative;
  height: 100vh;
}
.screen_single {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.screen_single video {
  cursor: url(image11.svg), default;
}
.screen_center {
  align-items: center;
  text-align: center;
}
.screen_split {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.screen__section {
  padding: var(--column);
  padding-right: calc(2*var(--column));
}
.screen__section-more {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  transition: transform 0.5s ease-in;
  background-image: linear-gradient(to bottom, rgba(0, 181, 77, 0.75), rgba(0, 48, 100, 0.75)), url("2.jpg");
  background-size: cover;
  width: 50%;
}
.screen__section_img {
  padding: 0;
  overflow: hidden;
}

.section-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.timer {
  display: flex;
  justify-content: space-between;
  font-size: 96px;
  font-weight: 200;
}
.timer__digit {
  position: relative;
}
.timer__digit::after {
  content: attr(data-text);
  position: absolute;
  vertical-align: bottom;
  font-size: var(--text);
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 300;
}
.timer__delimiter {
  margin: 0px 30px;
}
.timer__subtitle {
  padding-bottom: 75px;
  margin-top: -5px;
}
.timer__sec {
  width: 100px;
}

#timer {
  background-image: url("3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.feedback {
  margin-top: 26px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.feedback__wide {
  grid-column: 1/3;
  resize: none;
  padding-top: 19px;
}

.js-video-close {
  display: none;
}

.video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.video-wrapper {
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
}
.video-wrapper:fullscreen .js-video-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  appearance: none;
  color: white;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid currentColor;
  top: 20px;
  right: 20px;
  z-index: 1;
}

html {
  line-height: 1.25;
  font-family: Geometria, sans-serif;
  color: white;
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  background-color: #011936;
}

@media (max-width: 780px) {
  html {
    --column: 30px;
    --title: 48px;
    --subtitle: 18px;
    --text: 14px;
  }
  .header {
    justify-content: start;
  }
  .lang {
    position: absolute;
    right: 40px;
  }
  .index {
    --number: 26px;
  }
  .index__unit {
    font-size: var(--text);
  }
  .menu-wrapper {
    top: 0;
    left: 0;
    bottom: 0;
    right: unset;
    width: 62.5%;
  }
  .menu-burger {
    display: block;
  }
  .screen {
    display: block;
    height: unset;
  }
}

@media (max-width: 480px) {
  html {
    --column: 20px;
    --title: 24px;
    --subtitle:16px;
    --text: 11px;
  }
  .index {
    --number: $text;
  }
  .index-wrapper {
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 90px);
    grid-auto-flow: column;
    overflow: hidden;
  }
  .logo-wrapper {
    max-width: 130px;
  }
  .menu-burger {
    height: 20px;
  }
}

@media (max-width: 780px) and (min-width: 480px) {
  .logo-wrapper {
    position: relative;
    max-width: 240px;
    top: -8px;
  }
}