mixin newsDetail(props)
    - let caption = `Автор: ${props.author} | Фото: ${props.photographer}`
    .news-detail(data-link= attributes.link, class= attributes.class)
        figure.news-detail__img-wrapper 
            img.news-detail__img(src= props.image)
        +info(props.title, caption, 'Скачать материал')
            if props.desc
                each descPart in props.desc 
                    p= descPart