extends /layout/template
block content
    .video-wrapper
        video(src="videoplayback.webm")
        button.js-video-close X
    style. 
        .js-video-close{
            display: none;
            position: absolute;
            top:30px;
            right:30px;
        }
        .video-wrapper:fullscreen .js-video-close{
            display: block;
        }   

block script
    script.
        const videoWrapper = document.querySelector('.video-wrapper');
        const video = document.querySelector('video');
        video.onclick = function(){
            if(!document.fullscreen){
                videoWrapper.requestFullscreen();
                video.controls = true;
            }
        } 
        document.querySelector('.js-video-close').addEventListener('click', function(){
            document.exitFullscreen();
        })
        document.addEventListener('fullscreenchange', function(e){
            if(!document.fullscreen)
                video.controls = false; 
        })