$breakpoint-tablet: 1200px;
$breakpoint-phone: 768px;

html {
    --column: calc(100vw / 20);
    --title: 42px;
    --subtitle: 24px;
    --text: 14px;
    --small: 12px;
    --color-inactive: #ABA8B2;
    @media(max-width: $breakpoint-tablet) {
        --column: calc(100vw / 24);
        --title: 48px;
        --subtitle: 18px;
        --menu: 18px;
        --text: 14px;
        --small: 10px;
    }
    
    @media(max-width: $breakpoint-phone) {
        --column: calc(100vw / 16);
        --title: 24px;
        --subtitle:16px;
        --menu:14px;
        --text: 11px;
    }
}
$inactive: var(--color-inactive);
$column: var(--column);
$title: var(--title);
$subtitle: var(--subtitle);
$small: var(--small);
$smallest: 9px;
$text: var(--text);
$menu: var(--menu);
$top-layout:40; //z-index самого верхнего слоя
$template-offset: 2rem;
$easing: cubic-bezier(0, 0, 0.58, 1);
$bckg:#011936;
$accent: #009840;