$breakpoint-tablet: 780px;
$breakpoint-phone: 480px;

html {
    --column: 90px;
    --title: 62px;
    --subtitle: 24px;
    --text: 16px;
    --small: 12px;
    --color-inactive: #C6C6C6;
    @media(max-width: $breakpoint-tablet) {
        --column: 30px;
        --title: 48px;
        --subtitle: 18px;
        --text: 14px;
    }
    
    @media(max-width: $breakpoint-phone) {
        --column: 20px;
        --title: 24px;
        --subtitle:16px;
        --text: 11px;
    }
}
$inactive: var(--color-inactive);
$column: var(--column);
$title: var(--title);
$subtitle: var(--subtitle);
$small: var(--small);
$smallest: 9px;
$text: var(--text);
$top-layout:20; //z-index самого верхнего слоя
$template-offset: 40px;