  @font-face {
    font-family: Geometria;
    src: url(fonts/geometria-extralight.otf) format("opentype");
    font-weight: 200;
  }

  @font-face {
    font-family: Geometria;
    src: url(fonts/geometria-light.otf) format("opentype");
    font-weight: 300;
  }

  @font-face {
    font-family: Geometria;
    src: url(fonts/geometria-medium.otf) format("opentype");
    font-weight: 400;
  }

  @font-face {
    font-family: Geometria;
    src: url(fonts/geometria-bold.otf) format("opentype");
    font-weight: 600;
  }

  @font-face {
    font-family: "Geometria";
    font-style: normal;
    font-weight: 700;
    src: url(fonts/geometria-extablack.otf) format("opentype")
  }

  @font-face {
    font-family: "Geometria";
    font-style: normal;
    font-weight: 800;
    src: url(fonts/geometria-heavy.otf) format("opentype")
  }