@import './defines.scss';
@import './mixin.scss';
@import './reset.scss';
@import './font.scss';
@import './text.scss';
@import '../layout/template.scss';
@import '../components/*';
@import '../index.scss';
html{
    line-height: 1.25;
    font-family: Geometria, sans-serif;
    color: white;
    scroll-behavior: smooth;
    font-size: 16px;
}
body{
    background-color: #011936;
}