.index {
    --number: 36px;

    @media(max-width: $breakpoint-tablet) {
        --number: 26px;
    }
    @media(max-width: $breakpoint-phone) {
        --number: 16px;
    }

    font-weight: 200;
    &__title {
        font-size: $text;
        margin-bottom: $small;
        @media(max-width: $breakpoint-phone) {
            margin-bottom: 0;
        }
    }

    &__number {
        font-size: var(--number);
        line-height: 1.125;

    }

    &__unit {
        font-size: $small;

        @media(max-width:$breakpoint-tablet) {
            font-size: $text;
        }
    }
}

.index-wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: column;
    gap: 50px 0;
    user-select: none;
    @media(max-width:$breakpoint-tablet) {
        gap: 30px 0;
    }
    @media(max-width:$breakpoint-phone) {
        grid-template-columns: 100%;
        grid-auto-flow: column;
        overflow: hidden;
        gap: 10px 0;
    }
}