.index {
    --number: 36px;

    @media(max-width: $breakpoint-tablet) {
        --number: 26px;
    }
    @media(max-width: $breakpoint-phone ) {
        --number: $text;
    }


    &__title {
        font-size: $text;
        margin-bottom: 25px;
    }

    &__number {
        font-size: var(--number);
    }

    &__unit {
        font-size: 12px;

        @media(max-width:$breakpoint-tablet) {
            font-size: $text;
        }
    }
}

.index-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 90px);
    gap: 45px 70px;
    @media(max-width:$breakpoint-phone) {
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, 90px);
        grid-auto-flow: column;
        overflow: hidden;
    }
}