.header{
    padding: 40px;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: start;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: $top-layout;
    @media(max-width:$breakpoint-tablet){
        justify-content: start;
    }
}
.lang{
    @include widget;
    width: 82px;
    @media(max-width:$breakpoint-tablet){
        position: absolute;
        right: 40px;
    }
}
.social{
    @include widget;
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 70px;
    z-index: $top-layout;
    &__item{
        max-width: 18px;
        max-height: 18px;
    }
}