.header {
    padding: $template-offset;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: start;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: $top-layout;
    
    @media(max-width:$breakpoint-tablet) {
        // justify-content: start;
        padding: 2rem $column;
        background-image: linear-gradient(to bottom, $bckg 0%, transparent 100%);
    }
}

.lang {
    @include widget;
    width: 82px;
    font-weight: 300;

    @media(max-width:$breakpoint-phone) {
        width: 64px;
    }
    &__item {
        &_active {
            font-weight: 400;
            color: white;
        }
    }
}

.social {
    @include widget;
    position: fixed;
    bottom: 2rem;
    width: 70px;
    right: $template-offset;
    z-index: $top-layout;
    @media(max-width:$breakpoint-tablet) {
        right: $column;
    }
    &__item {
        max-width: 18px;
        max-height: 18px;
    }
}