.header{
    padding: $template-offset;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: start;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: $top-layout;
    @media(max-width:$breakpoint-tablet){
        // justify-content: start;
        padding: 2rem $column;
        background-image: linear-gradient(to bottom, $bckg 0%, transparent 100%);
    }
}
.lang{
    @include widget;
    width: 82px;
    @media(max-width:$breakpoint-tablet){
        // position: absolute;
        right: $template-offset;
    }
}
.social{
    @include widget;
    position: fixed;
    bottom: $template-offset;
    right: $template-offset;
    width: 70px;
    z-index: $top-layout;
    &__item{
        max-width: 18px;
        max-height: 18px;
    }
}