- const menu = [{href:"main", label:"Главная"},{href:"about", label:"О проекте"},{href:"timer", label:"Таймер"},{href:"indexes", label:"Показатели"},{href:"gallery", label:"Галерея"},{href:"news", label:"Новости"},{href:"contacts", label:"Контакты"}]

mixin copyright 
    .copyright(class= attributes.class) © 2021. АО «Международный аэропорт «Краснодар»

block vars
    - const title = 'Краснодарский аэропорт'

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="main.css")
        title= title
        block styles
    body
        .cursor.cursor_hidden
            .cursor__inner
        header.header 
            button.menu-burger.js-menu-toggle
                img(src="assets/burger.svg" alt="")
            .logo-wrapper
                a(href="") 
                    include logo.svg
            .lang
                a.lang__item.lang__item_active(href="/") RU 
                a.lang__item(href="en") ENG
        .social
            a(href="#") 
                svg.social__item #[use(xlink:href='assets/icons.svg#fb')]
            a(href="#") 
                svg.social__item #[use(xlink:href='assets/icons.svg#insta')]
        include /components/menu/menu
        .container#fullpage   
            block content
        block script

